* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: rgb(52, 50, 48);
}

.container {
  position: relative;
  display: inline-block;
  left: 16%;
  /* width: 100%; */
  /* display: none; */
}
.healthBar {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 3px;
}

.healthBar__player {
  background-color: #ffeb3b;
  width: 100%;
  height: 30px;
}
.healthBar__timer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #ffcc00, #ff6666);
  color: rgb(3, 0, 0);
  width: 90px;
  height: 40px;
  flex-shrink: 0;
}

.healthBar__enemy {
  /* background-color: yellow; */
  width: 100%;
  height: 24px;
  position: relative;
}

.healthBar__enemy__health {
  background: linear-gradient(to right, #ffeb3b, #ff9800);
  height: 20px;
}

#enemyHealth {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #28ac55, #0078d4);
  height: 20px;
}

.healthBar__player {
  /* background-color: yellow; */
  width: 100%;
  height: 20px;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.healthBar__player__health {
  background: linear-gradient(to right, #ff9800, #ffeb3b);
  height: 20px;
  width: 100%;
}

#playerHealth {
  background-color: #28ac55;
  height: 20px;
  position: absolute;
  /* left: 0; */
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #0078d4, #28ac55);
}

.healthBar__timer {
  font-family: "YourDesiredFont", sans-serif;
  font-size: 16px; /* Adjust font size as needed */
  font-weight: bold;
}

/* display result */

#displayResult {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: rgb(246, 236, 236);

  width: 40%;
  height: 23%;
  border-radius: 20px;
}

#resultText {
  margin-bottom: 20px;
}

#playAgainButton {
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 20px;
  background: linear-gradient(to right, #3498db, #e74c3c);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#playAgainButton:hover {
  background-color: #2980b9;
}

/*  landing page*/

.playerInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.playerInfo.player2 #player2Image {
  margin-left: 5.2em;
}

/* Player 1 on the left */
.playerInfo.player1 {
  top: 49px;
  left: 4px;
}

/* Player 2 on the right */
.playerInfo.player2 {
  top: 49px;
  right: 4px;
}

.playerInfo img {
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  border-radius: 50%;
  background-color: rgb(141, 170, 195);
  margin-top: 0;
  margin-bottom: 10px;
  /* margin: 0px; */
}

#comboCount1 {
  background: linear-gradient(to right, #3498db, #e74c3c);
}
#comboCount2 {
  background: linear-gradient(to right, #e74c3c, #3498db);
}
.comboCount {
  font-size: 16px;
  color: white;
  margin-bottom: 1px;
  font-size: smaller;

  border-radius: 4px;
}

#auto {
  position: absolute;
  right: -33px;
  top: -50px;
  height: 30px;
  width: 30px;
  color: white;
  background-color: #4caf50;
  border-radius: 10%;
  cursor: pointer;
  font-size: x-small;
}
