.container__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container__nav__menubar {
  display: none;
}
@media only screen and (max-width: 475px) {
  .container__nav__menubar {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .container__nav__menubar {
    display: block;
  }
}
.container__nav__logo {
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.container__nav__logo::after {
  content: "";
  display: block;
  border-bottom: 3px solid #17C2EC;
  margin-top: 4px;
  width: 79.681px;
  height: 2.39px;
}
.container__nav__content .nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.container__nav__content li {
  display: inline-block;
}
.container__nav__content li a {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding: 11px 15px;
  transition: color 0.3s;
  font-weight: 500;
  font-family: Montserrat;
  font-size: 1.5vw;
  font-style: normal;
}
.container__nav__content li a:hover {
  color: #FFF;
}
@media only screen and (max-width: 475px) {
  .container__nav__content {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .container__nav__content {
    display: none;
  }
}
.container__nav__btn button {
  color: #17C2EC;
  font-family: Montserrat;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
  display: inline-flex;
  padding: 1vw 1vw;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  border: none;
  background: rgba(196, 196, 196, 0.1);
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .container__nav__btn button {
    display: none;
  }
}
@media only screen and (max-width: 475px) {
  .container__nav__btn {
    display: none;
  }
}

.container {
  background-image: url("../assets/bg-image.png");
  padding: 50px 70px 0px 50px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

main .container__body {
  display: flex;
  gap: 74px;
  padding: 50px 70px 0px 50px;
  background-image: url("../assets/bg-image.png");
}
@media only screen and (max-width: 475px) {
  main .container__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
}
@media only screen and (max-width: 768px) {
  main .container__body {
    flex-direction: column;
  }
}
main .container__body__content1 p:first-child {
  color: #17C2EC;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 700;
}
@media only screen and (max-width: 475px) {
  main .container__body__content1 p:first-child {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
  }
}
main .container__body__content1 h1 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
}
main .container__body__content1 h1 .hero {
  color: #17C2EC;
}
@media only screen and (max-width: 475px) {
  main .container__body__content1 h1 {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
}
main .container__body__content1 .para1 {
  color: rgba(255, 255, 255, 0.5);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 70px;
}
@media only screen and (max-width: 475px) {
  main .container__body__content1 .para1 {
    margin-bottom: 30px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }
}
main .container__body__content1-button {
  display: flex;
  justify-content: center; /* Align buttons to the center horizontally */
}
@media only screen and (max-width: 768px) {
  main .container__body__content1-button {
    justify-content: flex-start;
  }
}
main .container__body__content1-button .btn1,
main .container__body__content1-button .btn2 {
  padding: 20px 5vw; /* Adjust padding based on your preference and responsiveness */
  min-width: 200px; /* Set a minimum width to prevent them from becoming too narrow */
  height: 59px;
  border-radius: 20px;
  background: #17C2EC;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: #FFF;
  font-family: Montserrat;
  font-weight: 700;
  line-height: normal;
  margin: 0 10px; /* Add some margin between buttons */
}
main .container__body__content1-button .btn2 {
  background: rgba(196, 196, 196, 0.1);
  border: none;
}
@media only screen and (max-width: 475px) {
  main .container__body__content1-button {
    flex-direction: column; /* Stack buttons vertically on small screens */
    align-items: center; /* Align buttons to the center horizontally on small screens */
  }
  main .container__body__content1-button .btn1,
  main .container__body__content1-button .btn2 {
    width: 10%; /* Make buttons fill the available width */
    margin-bottom: 10px; /* Add some spacing between buttons on small screens */
  }
}
main .container__body__content2 figure img {
  width: 100%;
}
@media only screen and (max-width: 475px) {
  main .container__body__content2 figure img {
    width: 350px;
  }
}
main .vaccination__schedule {
  background-color: #0B153C;
  padding: 0px 70px 0px 50px;
}
main .vaccination__schedule__head {
  display: flex;
  align-items: center;
}
main .vaccination__schedule__head img {
  width: 36px;
  height: 30px;
  border-radius: 10px;
  background: rgba(196, 196, 196, 0.1);
  margin-right: 10px;
}
main .vaccination__schedule__head .vcnTime {
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  padding-top: 18px;
}
main .banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #7f7f7f;
}
@media only screen and (max-width: 475px) {
  main .banner {
    background: #FFF;
  }
}
@media only screen and (max-width: 768px) {
  main .banner {
    background: #FFF;
  }
}
main .banner .img1 img,
main .banner .img2 img,
main .banner .img3 img,
main .banner .img4 img {
  max-width: 100vw; /* Ensure images don't exceed their container */
  height: auto; /* Maintain aspect ratio */
  width: 100vw; /* Make images fill the available width */
  max-width: 136vw;
  /* height: auto; */
  width: 10vw;
  padding: -99vw;
}

.vaccination__schedule {
  background-image: url("../assets/bg-image.png");
}
.vaccination__schedule__content {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  border-radius: 20px 20px 0px 0px;
  background: rgba(196, 196, 196, 0.05);
  padding: 30px;
}
@media only screen and (max-width: 475px) {
  .vaccination__schedule__content {
    flex-direction: column;
    gap: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .vaccination__schedule__content {
    flex-wrap: wrap;
  }
}
.vaccination__schedule__content-location {
  display: flex;
  align-items: center;
}
.vaccination__schedule__content-location .locimg {
  margin-right: 10px;
}
.vaccination__schedule__content-location .locimg img {
  background: rgba(196, 196, 196, 0.1);
  width: 31px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 10px;
}
.vaccination__schedule__content-location .locContent p {
  margin: 0px;
  color: #FFF;
}
.vaccination__schedule__content-location .locContent p:first-child {
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  font-weight: 700;
  font-family: Montserrat;
}
.vaccination__schedule__content-calender {
  display: flex;
  align-items: center;
  padding: 30px;
}
@media only screen and (max-width: 768px) {
  .vaccination__schedule__content-calender {
    margin-right: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .vaccination__schedule__content-calender {
    padding: 0;
    margin-top: 16px;
  }
}
.vaccination__schedule__content-calender .calimg {
  margin-right: 10px;
  background: rgba(196, 196, 196, 0.1);
  width: 31px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 10px;
}
.vaccination__schedule__content-calender .calContent p {
  margin: 0px;
  color: #FFF;
}
.vaccination__schedule__content-calender .calContent p:first-child {
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  font-weight: 700;
  font-family: Montserrat;
}
.vaccination__schedule__content-type {
  display: flex;
  align-items: center;
  color: #FFF;
}
@media only screen and (max-width: 768px) {
  .vaccination__schedule__content-type {
    padding: 0;
    margin-top: 16px;
  }
}
.vaccination__schedule__content-type .typimg {
  margin-right: 10px;
  background: rgba(196, 196, 196, 0.1);
  width: 31px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 10px;
}
.vaccination__schedule__content-type .typContent p {
  margin: 0px;
}
.vaccination__schedule__content-type p:first-child {
  color: rgba(255, 255, 255, 0.5);
  font-size: 24px;
  font-weight: 700;
  font-family: Montserrat;
}
@media only screen and (max-width: 768px) {
  .vaccination__schedule__content-button {
    margin-right: 75px;
  }
}
@media only screen and (max-width: 768px) {
  .vaccination__schedule__content-button {
    padding: 0;
    margin-top: 16px;
  }
}
.vaccination__schedule__content-button button {
  display: flex;
  align-items: center;
  padding: 1vw 1.5vw;
  border-radius: 20px;
  background: #17C2EC;
  gap: 10px;
  border-radius: 12px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.form__container {
  background-image: url("../assets/bg-image.png");
  padding: 63px 71px 63px 71px;
}
.form__container__formstart {
  background: rgba(196, 196, 196, 0.1);
}
.form__container form h2 {
  border-radius: 20px 20px 0px 0px;
  background: #2a2e5a;
  height: 101px;
  color: #fff;
  font-family: Montserrat;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  line-height: 101px; /* Center text vertically */
  padding-left: 6vw;
  white-space: nowrap;
}
.form__container form .form__result,
.form__container form .form__check {
  width: 100%;
}
.form__container form .form__result {
  display: flex;
  gap: 20px;
  margin-left: 5vw;
  padding-top: 4vh;
  flex-wrap: wrap;
}
@media only screen and (max-width: 475px) {
  .form__container form .form__result {
    flex-direction: column;
    margin-top: 3vh;
    padding: 0;
    gap: 2vh;
    margin-top: 0;
  }
}
@media only screen and (max-width: 768px) {
  .form__container form .form__result {
    flex-direction: column;
    padding-top: 6vh;
    gap: 2vh;
  }
}
.form__container form .form__result .forminput1,
.form__container form .form__result .forminput2 {
  flex: 1;
  border-radius: 10px;
  background: transparent;
  padding: 13px;
  box-sizing: border-box;
  width: 30vw;
  border: 3px solid #17C2EC;
}
@media only screen and (max-width: 475px) {
  .form__container form .form__result .forminput1,
  .form__container form .form__result .forminput2 {
    width: 59vw;
    gap: 2vw;
  }
}
@media only screen and (max-width: 768px) {
  .form__container form .form__result .forminput1,
  .form__container form .form__result .forminput2 {
    width: 59vw;
    gap: 2vw;
  }
}
.form__container form .form__result .forminput2 {
  border-radius: 10px;
  border: 3px solid rgba(196, 196, 196, 0.15);
}
.form__container form .form__result .btn {
  flex: 1;
  border-radius: 10px;
  color: #fff;
  border: 3px solid #17C2EC;
  background: rgba(196, 196, 196, 0.1);
  padding: 20px 25px;
  display: inline-flex;
  padding: 1.5vh 2.5vw;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
}
@media only screen and (max-width: 475px) {
  .form__container form .form__result .btn {
    padding: 2.5vh 11.5vw;
  }
}
@media only screen and (max-width: 768px) {
  .form__container form .form__result .btn {
    padding: 2.5vh 11.5vw;
  }
}
.form__container form .form__check {
  padding-bottom: 3vh;
}
.form__container form .form__check p {
  text-align: center;
  color: #17C2EC;
  margin-left: 5vw;
  margin-top: 8vh;
  margin-right: 12vw;
  border-radius: 20px;
  background: rgba(196, 196, 196, 0.05);
  font-weight: 700;
  font-family: Montserrat;
  padding-top: 20px;
  padding-bottom: 20px;
}
.form__container form .form__check p a {
  color: #17C2EC;
}

.whyVaccinated {
  background-image: url("../assets/bg-image.png");
  padding: 0px 70px 0px 50px;
  padding-bottom: 10vh;
}
.whyVaccinated__title {
  display: flex;
  gap: 20vw;
}
@media only screen and (max-width: 768px) {
  .whyVaccinated__title {
    flex-direction: column;
    padding-top: 6vh;
    gap: 2vh;
  }
}
.whyVaccinated__title__c1 {
  width: 100%;
  color: #FFF;
}
.whyVaccinated__title__c1 h1 {
  margin: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 47.9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.whyVaccinated__title__c2 {
  width: 100%;
}
.whyVaccinated__title__c2 p {
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  font-family: Montserrat;
  font-size: 19.958px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.whyVaccinated__content {
  display: flex;
  margin-top: 10vh;
  gap: 4vw;
}
@media only screen and (max-width: 768px) {
  .whyVaccinated__content {
    flex-direction: column;
  }
}
.whyVaccinated__content1 {
  border-radius: 49.896px 149.688px 49.896px 49.896px;
  background: rgba(196, 196, 196, 0.2);
  padding-left: 4vw;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .whyVaccinated__content1 {
    flex-direction: column;
    height: 90vh;
    width: 61vw;
  }
}
.whyVaccinated__content1 .img1 {
  margin: 2vw;
  border-radius: 10.938px;
  background: rgba(196, 196, 196, 0.1);
  padding: 0.5vw;
}
.whyVaccinated__content1 .p1 {
  margin: 2vw;
  color: #17c2ec;
  font-family: Montserrat;
  font-size: 23.95px;
  font-weight: 700;
}
.whyVaccinated__content1 .p2 {
  margin: 2vw;
  color: #fff;
  font-family: Montserrat;
  font-size: 17.963px;
  font-weight: 500;
}
.whyVaccinated__content1 .readmore {
  margin: 2vw;
  color: #17c2ec;
  font-family: Montserrat;
  font-size: 17.963px;
  font-weight: 700;
  display: flex;
}
.whyVaccinated__content1 .readmore div a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
.whyVaccinated__content1 .readmore div a:hover {
  color: #17C2EC;
}
.whyVaccinated__content1 .readmore .img2 {
  margin-left: 0.7vw;
}
.whyVaccinated__content2 {
  display: flex;
  gap: 3vw;
}
@media only screen and (max-width: 475px) {
  .whyVaccinated__content2 {
    flex-direction: column;
    flex-direction: column;
  }
}
.whyVaccinated__content2__con1 {
  width: 15vw;
  border-radius: 49.896px;
  border: 2.994px solid rgba(255, 255, 255, 0.5);
  padding: 4vw;
}
@media only screen and (max-width: 768px) {
  .whyVaccinated__content2__con1 {
    flex-direction: column;
    flex-direction: column;
    height: 64vh;
    width: 33vw;
  }
}
.whyVaccinated__content2__con1 .img1 {
  border-radius: 20.956px;
  padding: 0.5vw;
  background: rgba(196, 196, 196, 0.1);
}
.whyVaccinated__content2__con1 .p1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 23.95px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.whyVaccinated__content2__con1 .readmore {
  display: flex;
  color: rgba(255, 255, 255, 0.5);
}
.whyVaccinated__content2__con1 .readmore div a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
.whyVaccinated__content2__con1 .readmore div a:hover {
  color: #17C2EC;
}
.whyVaccinated__content2__con1 .readmore .img2 {
  margin-left: 0.7vw;
}
.whyVaccinated__content2__con2 {
  width: 15vw;
  border-radius: 49.896px;
  border: 2.994px solid rgba(255, 255, 255, 0.5);
  padding: 4vw;
}
@media only screen and (max-width: 768px) {
  .whyVaccinated__content2__con2 {
    flex-direction: column;
    height: 64vh;
    width: 33vw;
  }
}
.whyVaccinated__content2__con2 .img1 {
  border-radius: 20.956px;
  padding: 0.5vw;
  background: rgba(196, 196, 196, 0.1);
}
.whyVaccinated__content2__con2 .p1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 23.95px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.whyVaccinated__content2__con2 .readmore {
  display: flex;
  color: rgba(255, 255, 255, 0.5);
}
.whyVaccinated__content2__con2 .readmore div a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
.whyVaccinated__content2__con2 .readmore div a:hover {
  color: #17C2EC;
}
.whyVaccinated__content2__con2 .readmore .img2 {
  margin-left: 0.7vw;
}

.getVaccineReg {
  background: rgba(255, 255, 255, 0.5019607843);
  background-image: url("../assets/regbackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.getVaccineReg__form {
  display: flex;
  justify-content: space-between;
  padding: 8.953125vh 2.60416667vw; /* 3vh 4vw 
*/
  gap: 17.1875vw;
}
@media only screen and (max-width: 768px) {
  .getVaccineReg__form {
    flex-direction: column-reverse;
    gap: 0px;
    padding: 6vw;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 475px) {
  .getVaccineReg__form {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 0px;
  }
}
.getVaccineReg__form__content1 .headpara {
  color: #000;
  font-family: Montserrat;
  font-size: 2.125vw; /* 48px */
  font-weight: 700;
}
.getVaccineReg__form__content1 .fullName {
  color: #000;
  font-family: Montserrat;
  font-size: 1.125vw;
  font-weight: 700;
  margin-bottom: 2vh;
}
.getVaccineReg__form__content1 .input1,
.getVaccineReg__form__content1 .input2 {
  border-radius: 20px;
  background: rgba(11, 21, 60, 0.15);
  margin: 2vh 0vw;
  color: rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 1.125vw; /* 48px */
  border: none;
  padding: 1vw;
  padding-right: 19vw;
}
.getVaccineReg__form__content1 .input2 {
  padding-right: 7vw;
}
.getVaccineReg__form__content1 .btnverify {
  gap: 1.04166667vw; /* 10px */
  border-radius: 1.604167vw; /* 20px */
  background: #17c2ec;
  padding: 3.5vh 4.6875vw;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .getVaccineReg__form__content1 .btnverify {
    padding: 1vh 3vw;
  }
}
@media only screen and (max-width: 475px) {
  .getVaccineReg__form__content1 .btnverify {
    flex-wrap: wrap;
    padding: 0;
  }
}
.getVaccineReg__form__content1 .mobileNum {
  color: #000;
  font-family: Montserrat;
  font-size: 1.125vw;
  font-weight: 700;
  line-height: normal;
}
.getVaccineReg__form__content1 .mobpara {
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 1vw; /* 20px */
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.getVaccineReg__form__content1 .submit {
  border-radius: 2.604167vw; /* 20px */
  background: #17c2ec;
  width: 100%;
  border: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 2vw; /* 24px */
  font-style: normal;
  font-weight: 300;
  padding: 1.5vh;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .getVaccineReg__form__content1 .submit {
    width: 35vw;
  }
}
@media only screen and (max-width: 475px) {
  .getVaccineReg__form__content1 .submit {
    width: 35vw;
  }
}
.getVaccineReg__form__content1 .already-registered {
  text-align: center;
}
.getVaccineReg__form__content1 .already-registered p {
  color: rgba(0, 0, 0, 0.5);
}
.getVaccineReg__form__content1 .already-registered a {
  color: #17C2EC;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .getVaccineReg__form__content1 .already-registered {
    width: 35vw;
  }
}
@media only screen and (max-width: 475px) {
  .getVaccineReg__form__content1 .already-registered {
    width: 35vw;
  }
}
.getVaccineReg .getVaccineReg__form__content2__content {
  position: relative;
}
.getVaccineReg .getVaccineReg__form__content2__content .img1 {
  position: absolute;
  left: -1.88598633vw; /* -29px */
  top: -3.75828877vh; /* -18px */
}
.getVaccineReg .getVaccineReg__form__content2__content .injection {
  background-image: url("../assets/bg-image.png");
  border-radius: 20px;
  width: 80%;
}
@media only screen and (max-width: 768px) {
  .getVaccineReg .getVaccineReg__form__content2__content .injection {
    width: 100%;
    height: 80%;
  }
}
@media only screen and (max-width: 475px) {
  .getVaccineReg .getVaccineReg__form__content2__content .injection {
    width: 100%;
    height: 80%;
  }
}

.covidPrevention {
  background-image: url("../assets/bg-image.png");
}
.covidPrevention__container1 {
  width: 50%; /* Set a width for the container */
  margin: 0 auto; /* Center the container */
  text-align: center;
}
.covidPrevention__para1 p {
  color: #fff;
  font-family: Montserrat;
  font-size: 2.125vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 3vh;
  padding-top: 5vh;
}
.covidPrevention__para2 p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 3.125vw;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0;
}
.covidPrevention__para2 .p1 {
  color: #17c2ec;
}
.covidPrevention__para3 p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Montserrat;
  font-size: 1.455vw;
  font-style: normal;
  font-weight: 500;
}
.covidPrevention__container2 img {
  width: 100%;
  margin: 0;
  margin-bottom: 0;
  border-radius: 20px;
}

.footer__container__content {
  height: 21vh;
  background-color: #8b979b;
  position: relative;
}
@media only screen and (max-width: 475px) {
  .footer__container__content {
    display: none;
    border-radius: 50px;
    background: rgba(196, 196, 196, 0.15);
  }
}
@media only screen and (max-width: 768px) {
  .footer__container__content {
    display: none;
    border-radius: 50px;
    background: rgba(196, 196, 196, 0.15);
  }
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
  margin-bottom: -17vh;
  top: -162px;
}
.footer__container__content2 {
  width: 46.9vw;
  height: 57.5vh;
  margin: 0;
  flex-shrink: 0;
  border-radius: 50px;
  background: #17c2ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__container__content2 .para1,
.footer__container__content2 .para2 {
  color: #fff;
  text-align: center;
}
.footer__container__content2 .para1 {
  color: #fff;
  font-family: Montserrat;
  font-size: 3vw;
  font-weight: 700;
  margin: 0;
}
.footer__container__content2 .para2 {
  color: #fff;
  font-family: Montserrat;
  font-size: 1vw;
  font-weight: 500;
}
.footer__container__content2 .email-container {
  display: flex;
  align-items: center;
}
.footer__container__content2 .email-container .email-input {
  flex: 1;
  padding: 3vh;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 3vh;
  border-radius: 5vw 0 0 5vw;
  background: #fff;
  box-shadow: 0 2vh 2vh 0 rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 475px) {
  .footer__container__content2 .email-container .email-input {
    font-size: 1vh;
    padding: 1vh;
  }
}
@media only screen and (max-width: 768px) {
  .footer__container__content2 .email-container .email-input {
    padding: 1vh;
  }
}
.footer__container__content2 .email-container .submit-button {
  display: flex;
  align-items: center;
  border-radius: 0 5vw 5vw 0;
  background: #0b153c;
  box-shadow: 0 2vh 2vh 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 3vh;
}
@media only screen and (max-width: 475px) {
  .footer__container__content2 .email-container .submit-button {
    padding: 1vh;
  }
}
@media only screen and (max-width: 768px) {
  .footer__container__content2 .email-container .submit-button {
    padding: 0vh;
  }
}
.footer__container__content2 .email-container .submit-button img {
  width: 3vh;
  height: 3vh;
  margin-right: 1vh;
  margin: 0;
}

.footer__last {
  background-image: url("../assets/bg-image.png");
  background-size: cover;
  padding: 49.04vh 4.56vw 1.04vh 5.25vw;
  position: relative;
  z-index: 0;
  top: -288px;
}

.footer__last__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 475px) {
  .footer__last__content {
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 768px) {
  .footer__last__content {
    flex-direction: column;
    margin: 0;
  }
}

.footer__last__content__content1 {
  color: #fff;
}
.footer__last__content__content1::after {
  content: "";
  display: block;
  border-bottom: 3px solid #17C2EC;
  margin-top: 4px;
  width: 79.681px;
  height: 2.39px;
}
@media only screen and (max-width: 475px) {
  .footer__last__content__content1::after {
    content: "";
    display: block;
    border-bottom: 2px solid #17C2EC;
    margin-top: 4px;
    width: 39.681px;
    height: 2.39px;
  }
}
.footer__last__content__content1 p {
  margin: 0;
  font-weight: bold;
  font-size: 2vw; /* Adjust font size using vw units */
}

.footer__last__content__content2 {
  display: flex;
}
@media only screen and (max-width: 475px) {
  .footer__last__content__content2 {
    margin-bottom: 3vh;
  }
}
@media only screen and (max-width: 768px) {
  .footer__last__content__content2 {
    margin-bottom: 3vh;
  }
}
.footer__last__content__content2 .nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
@media only screen and (max-width: 475px) {
  .footer__last__content__content2 .nav-list {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}
.footer__last__content__content2 .nav-list li {
  margin-right: 1.3vw; /* Adjust margin using vw units */
}
.footer__last__content__content2 .nav-list li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 1.2vw; /* Adjust font size using vw units */
}

.footer__last__content__content3 {
  display: flex;
  align-items: center;
}
.footer__last__content__content3 .icon1,
.footer__last__content__content3 .icon2,
.footer__last__content__content3 .icon3,
.footer__last__content__content3 .icon4 {
  margin-right: 0.65vw; /* Adjust margin using vw units */
  width: 1.56vw; /* Adjust width using vw units */
  height: 1.56vw; /* Adjust height using vw units */
}

.last__main__content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  margin-bottom: 12vh;
}
@media only screen and (max-width: 475px) {
  .last__main__content {
    margin-bottom: 190vw;
  }
}
@media only screen and (max-width: 768px) {
  .last__main__content {
    margin-bottom: 23vw;
  }
}

.last__main__content__content1 {
  text-align: center; /* Center text horizontally */
  margin-bottom: 3vh; /* Adjust margin as needed */
  width: 50%;
}
.last__main__content__content1 .para1 {
  color: #17c2ec;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.last__main__content__content1 .para2 {
  color: #000;
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}
.last__main__content__content1 .para3 {
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 24px;
  overflow-wrap: break-word;
  font-weight: 500;
  margin: 0;
}

.last__main__content__content2 {
  display: flex;
  justify-content: space-between;
  width: 80vw; /* Adjust the width as needed */
  max-width: 1200px; /* Add a maximum width if desired */
  margin-top: 3vh; /* Adjust margin as needed */
}
@media only screen and (max-width: 768px) {
  .last__main__content__content2 {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 3vh;
    top: -78px;
    align-items: center;
  }
}
@media only screen and (max-width: 475px) {
  .last__main__content__content2 {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 3vh;
    top: -78px;
    align-items: center;
  }
}
.last__main__content__content2 .testimonial-card {
  width: 30vw; /* Adjust the width as needed */
  border: 1px solid #ccc;
  border-radius: 2vw; /* Adjust the border-radius as needed */
  background-image: url("../assets/jar.png");
  background-color: #17c2ec;
  color: white;
  overflow: hidden;
  margin-right: 2vw;
}
.last__main__content__content2 .testimonial-card .card__header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.last__main__content__content2 .testimonial-card__header {
  display: flex;
  align-items: center;
  padding: 2vw; /* Adjust padding as needed */
}
.last__main__content__content2 .testimonial-card__image {
  width: 10vw; /* Adjust the width as needed */
  height: 10vw; /* Adjust the height as needed */
  border-radius: 50%;
  margin-right: 2vw; /* Adjust margin as needed */
}
.last__main__content__content2 .testimonial-card__name {
  margin: 0;
  font-size: 2vw; /* Adjust font size using vw */
  font-weight: bold;
}
.last__main__content__content2 .testimonial-card__content {
  padding: 2vw; /* Adjust padding as needed */
}
.last__main__content__content2 .testimonial-card__description {
  margin-top: 1vw; /* Adjust margin as needed */
  font-size: 1.5vw; /* Adjust font size using vw */
  color: #555;
}

/*# sourceMappingURL=style.css.map */
