.footer__container__content {
  //  background:url("../../../assets/bg-gray.png"), lightgray 50% / cover no-repeat, rgba(255, 255, 255, 0.50);
  // width: 100%;
  height: 21vh;
  background-color: #8b979b;
  position: relative;

  @media only screen and (max-width: $small) {
       display: none;
       border-radius: 50px;
background: rgba(196, 196, 196, 0.15);
        }

          @media only screen and (max-width: $medium) {
       display: none;
       border-radius: 50px;
background: rgba(196, 196, 196, 0.15);

        }

  // background-color: #17C2EC;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
       margin-bottom: -17vh;
    top: -162px;
  &__content2 {
    width: 46.9vw;
    height: 57.5vh;
    margin: 0;
    flex-shrink: 0;
    border-radius: 50px;
    background: #17c2ec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .para1,
    .para2 {
      color: #fff;
      text-align: center;
    }
    .para1 {
      color: #fff;

      font-family: Montserrat;
      font-size: 3vw;

      font-weight: 700;
      margin: 0;
    }
    .para2 {
      color: #fff;

      font-family: Montserrat;
      font-size: 1vw;

      font-weight: 500;
    }

    .email-container {
      display: flex;
      align-items: center;

      .email-input {
        flex: 1;
        padding: 3vh;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 3vh;
        border-radius: 5vw 0 0 5vw;
        background: #fff;
        box-shadow: 0 2vh 2vh 0 rgba(0, 0, 0, 0.1);

        @media only screen and (max-width: $small) {
          font-size: 1vh;
          padding: 1vh;
        }
        
        @media only screen and (max-width: $medium) {
          // font-size: 1vh;
          padding: 1vh;
        }
      }

      .submit-button {
        display: flex;
        align-items: center;
        border-radius: 0 5vw 5vw 0;
        background: #0b153c;
        box-shadow: 0 2vh 2vh 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;
        padding: 3vh;
        @media only screen and (max-width: $small) {
          padding: 1vh;
        }
          @media only screen and (max-width: $medium) {
          padding: 0vh;
        }

        img {
          width: 3vh; // Adjust the image size as needed
          height: 3vh;
          margin-right: 1vh;
          margin: 0;
        }
      }
    }
  }
}

.footer__last {
  background-image: url("../../../assets/bg-image.png");
  background-size: cover;
  padding: 49.04vh 4.56vw 1.04vh 5.25vw;
  position: relative;
  z-index: 0;
  top: -288px;
}

.footer__last__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media only screen and (max-width: $small) {
    flex-direction: column;

    justify-content: flex-start;
  }
  @media only screen and (max-width: $medium) {
    flex-direction: column;
    margin: 0;
  }
}

.footer__last__content__content1 {
  color: #fff; 
  &::after {
    content: "";
    display: block;
    border-bottom: 3px solid $primary;
    margin-top: 4px;
    width: 79.681px;
    height: 2.39px;
  }

  @media only screen and (max-width: $small) {
    &::after {
      content: "";
      display: block;
      border-bottom: 2px solid $primary;
      margin-top: 4px;
      width: 39.681px;
      height: 2.39px;
    }
  }

  p {
    margin: 0;
    font-weight: bold;
    font-size: 2vw; /* Adjust font size using vw units */
  }
}

.footer__last__content__content2 {
  display: flex;

  @media only screen and (max-width: $small) {
    margin-bottom: 3vh;
  }

  @media only screen and (max-width: $medium) {
    margin-bottom: 3vh;
  }

  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    @media only screen and (max-width: $small) {
      flex-direction: column;
      margin: 0;
      padding: 0;
    }

    li {
      margin-right: 1.3vw; /* Adjust margin using vw units */

      a {
        text-decoration: none;
        color: $font-color;
        font-weight: bold;
        font-size: 1.2vw; /* Adjust font size using vw units */
      }
    }
  }
}

.footer__last__content__content3 {
  display: flex;
  align-items: center;

  .icon1,
  .icon2,
  .icon3,
  .icon4 {
    margin-right: 0.65vw; /* Adjust margin using vw units */
    width: 1.56vw; /* Adjust width using vw units */
    height: 1.56vw; /* Adjust height using vw units */
  }
}
