.last__main__content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
      margin-bottom: 12vh;

  
       @media only screen and (max-width:$small) {
           margin-bottom: 190vw;
        
            
           }
      

       @media only screen and (max-width: $medium) {
           margin-bottom: 23vw;
        
            
           }
}

.last__main__content__content1 {
  text-align: center; /* Center text horizontally */
  margin-bottom: 3vh; /* Adjust margin as needed */
width: 50%;

  .para1{
    color: #17C2EC;

font-size: 24px;
 
font-weight: 700;
margin: 0;

  }

  .para2{
    color: #000;

font-size: 48px;

font-weight: 800;
margin: 0;

  }

  .para3{
    color: rgba(0, 0, 0, 0.50);

font-family: Montserrat;
font-size: 24px;
overflow-wrap: break-word;
font-weight: 500;
margin: 0;
  }

}

.last__main__content__content2 {
  display: flex;
  justify-content: space-between;
  width: 80vw; /* Adjust the width as needed */
  max-width: 1200px; /* Add a maximum width if desired */
  margin-top: 3vh; /* Adjust margin as needed */

  
    @media only screen and (max-width: $medium) {
      flex-direction: column;
      gap: 20px;
          margin-bottom: 3vh;
    top: -78px;
    align-items: center;
      
    }

    @media only screen and (max-width: $small) {
      flex-direction: column;
      gap: 20px;
          margin-bottom: 3vh;
    top: -78px;
    align-items: center;
    
    }




  .testimonial-card {
    width: 30vw; /* Adjust the width as needed */
    border: 1px solid #ccc;
    border-radius: 2vw; /* Adjust the border-radius as needed */
       background-image: url("../../../assets/jar.png");

           background-color: #17C2EC;
           color: white;

    overflow: hidden;
    margin-right: 2vw;
    // box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow using vw */

   .card__header{
    display: flex;
    justify-content: center;
    align-items: center;
    
   }

    &__header {
      display: flex;
      align-items: center;
      padding: 2vw; /* Adjust padding as needed */
    }

    &__image {
      width: 10vw; /* Adjust the width as needed */
      height: 10vw; /* Adjust the height as needed */
      border-radius: 50%;
      margin-right: 2vw; /* Adjust margin as needed */
    }

    &__name {
      margin: 0;
      font-size: 2vw; /* Adjust font size using vw */
      font-weight: bold;
      
    }

    &__content {
      padding: 2vw; /* Adjust padding as needed */
    }

    &__description {
      margin-top: 1vw; /* Adjust margin as needed */
      font-size: 1.5vw; /* Adjust font size using vw */
      color: #555;
    }
  }
  
}
