.vaccination__schedule{
    background-image: url("../../../assets/bg-image.png");

&__content {
  display: flex;
  //     width: 1299px;
  // height: 160px;
  flex-shrink: 0;
  justify-content: space-between;
  border-radius: 20px 20px 0px 0px;
  background: rgba(196, 196, 196, 0.05);

  padding: 30px;
   @media only screen and (max-width: $small) {

    flex-direction: column;
  // align-items: space-between;
  gap: 15px;
  // padding: 0px;
  // margin-top: 300px;
   }
  @media only screen and (max-width: $medium) {
   flex-wrap: wrap;
  }
  

  &-location {
    display: flex;
    align-items: center;
    .locimg{
        margin-right: 10px;
      
        img{
            background: rgba(196, 196, 196, 0.10);
width: 31px;
height: 32px;
flex-shrink: 0;
  border-radius: 10px;
        }

    }
    .locContent {
      p {
        margin: 0px;
        color: $white;
      }
      p:first-child {
        color: $font-color;
        font-size: 24px;
        font-weight: 700;

        font-family: Montserrat;
      }
    }
  }

  &-calender {
    display: flex;
    align-items: center;
    
    padding: 30px;
   @media only screen and (max-width: $medium) {

    margin-right: 16px;
   }

     @media only screen and (max-width: $medium) {
      padding: 0;
      margin-top: 16px ;
     }
    .calimg{
        margin-right: 10px;
                   background: rgba(196, 196, 196, 0.10);
width: 31px;
height: 32px;
flex-shrink: 0;
  border-radius: 10px;
    }
    .calContent {
      
      p {
        margin: 0px;
         color: $white;
      }
          p:first-child {
        color: $font-color;
        font-size: 24px;
        font-weight: 700;

        font-family: Montserrat;
      }

    }
  }

  &-type {
    display: flex;
    align-items: center;

    
     @media only screen and (max-width: $medium) {
      padding: 0;
      margin-top: 16px ;
     }
    .typimg{
        margin-right: 10px;
                   background: rgba(196, 196, 196, 0.10);
width: 31px;
height: 32px;
flex-shrink: 0;
  border-radius: 10px;
    }
     color: $white;
    .typContent {
      p {
        margin: 0px;
      }
    }
        p:first-child {
        color: $font-color;
        font-size: 24px;
        font-weight: 700;

        font-family: Montserrat;
      }
  }
  &-button {
      @media only screen and (max-width: $medium) {
        margin-right:75px ;
      }
      
     @media only screen and (max-width: $medium) {
      padding: 0;
      margin-top: 16px ;
     }
    button{
    display: flex;
    align-items: center;
    padding: 1vw 1.5vw;
    border-radius: 20px;
background: $primary;
// align-items: flex-start;
gap: 10px;
border-radius: 12px;

color: $white;
font-family: Montserrat;
font-size: 24px;
// font-style: normal;
font-weight: 700;
// line-height: normal;
cursor: pointer;

    }
  }


 
}
}