$primary:#17C2EC;
$white:#FFF;
$background-color:#0B153C;
$font-color:rgba(255, 255, 255, 0.50);
// btn 
$button-space:20px;

$form-background-color: #1e2349;
$result-background-color: #2a2e5a;
$primary-border-color: #17C2EC;
$secondary-border-color: rgba(196, 196, 196, 0.15);
$small:475px;
$medium:768px;
$large:1440px;