.whyVaccinated {
   background-image: url("../../../assets/bg-image.png");


  padding: 0px 70px 0px 50px;
      padding-bottom: 10vh;
  &__title {
    display: flex;
    // justify-content: space-between;
    gap: 20vw;

    @media only screen and (max-width: $medium) {
        flex-direction: column;
       //  align-items: center;
        // margin-top: 3vh;
        padding-top: 6vh;
        // padding-bottom: 6vh;
        gap: 2vh;
       }

    &__c1 {
      width: 100%;
      color: $white;
      h1 {
        margin: 0;
        color: #fff;
        font-family: Montserrat;
        font-size: 47.9px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    &__c2 {
      width: 100%;
      p {
        margin: 0;
        color: rgba(255, 255, 255, 0.5);
        font-family: Montserrat;
        font-size: 19.958px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  &__content {
    display: flex;
    margin-top: 10vh;
    gap: 4vw;
    @media only screen and (max-width: $medium) {
        flex-direction: column;
     
        
       }
  }

  &__content1 {
    border-radius: 49.896px 149.688px 49.896px 49.896px;
    background: rgba(196, 196, 196, 0.2);
    padding-left: 4vw;
    width: 50%;

    @media only screen and (max-width: $medium) {
        flex-direction: column;
        height:90vh;
        width: 61vw;
     
        
       }

    .img1 {
      margin: 2vw;
      border-radius: 10.938px;
      background: rgba(196, 196, 196, 0.1);
      padding: 0.5vw;
    }

    .p1 {
      margin: 2vw;
      color: #17c2ec;
      font-family: Montserrat;
      font-size: 23.95px;

      font-weight: 700;
    }
    .p2 {
      margin: 2vw;
      color: #fff;
      font-family: Montserrat;
      font-size: 17.963px;
      font-weight: 500;
    }
    .readmore {
      margin: 2vw;
      color: #17c2ec;
      font-family: Montserrat;
      font-size: 17.963px;
      font-weight: 700;
      display: flex;
      div a {
        text-decoration: none;
        color: $font-color;
      }
      div a:hover {
        color: $primary;
      }
      .img2 {
        margin-left: 0.7vw;
      }
    }
  }

  &__content2 {
    display: flex;
    // justify-content: space-between;
    gap: 3vw;

    @media only screen and (max-width: $small) {
        flex-direction: column;
      
            flex-direction: column;
           
        
            
           
        
       }

    &__con1 {
      width: 15vw;
      border-radius: 49.896px;
      border: 2.994px solid rgba(255, 255, 255, 0.5);
      padding: 4vw;

      @media only screen and (max-width: $medium) {
        flex-direction: column;
        flex-direction: column;
        height: 64vh;
        width: 33vw;
        
       }
     
      .img1 {
        border-radius: 20.956px;
        padding: 0.5vw;
        background: rgba(196, 196, 196, 0.1);
      }

      .p1 {
        color: #fff;

        font-family: Montserrat;
        font-size: 23.95px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .readmore {
        display: flex;
        color: $font-color;
        div a {
          text-decoration: none;
          color: $font-color;
        }
        div a:hover {
          color: $primary;
        }
        .img2 {
          margin-left: 0.7vw;
        }
      }
    }

    &__con2 {
      width: 15vw;
      border-radius: 49.896px;
      border: 2.994px solid rgba(255, 255, 255, 0.5);
      padding: 4vw;

    
        @media only screen and (max-width: $medium) {
            flex-direction: column;
            height: 64vh;
            width: 33vw;
        
            
           }
        
       

      .img1 {
        border-radius: 20.956px;
        padding: 0.5vw;
        background: rgba(196, 196, 196, 0.1);
      }

      .p1 {
        color: #fff;

        font-family: Montserrat;
        font-size: 23.95px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      .readmore {
        display: flex;
        color: $font-color;

        div a {
          text-decoration: none;
          color: $font-color;
        }
        div a:hover {
          color: $primary;
        }
        .img2 {
          margin-left: 0.7vw;
        }
      }
    }
  }
}
