<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./login.css" />
  </head>

  <link>
    <div class="container">
      <div class="row">
        <div class="col-md-9 mx-auto form-container">
          <div class="row">
            <div class="col-md-6">
              <img
                src="../../assets/img/login.avif"
                alt="Logo"
                class="img-fluid "
              />
            </div>
            <div class="col-md-6">
              <h2 class="text-center mb-4">Login</h2>
              <form id="form-login">
                <div id="error-message" class="d-none alert alert-danger"></div>

                <div class="form-group">
                  <label for="email">Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Enter your email"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Enter your password"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">
                  Login
                </button>
              </form>
              <div class="text-center mt-3">
                Don't have an account?
                <a href="../Register/register.html">Sign Up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script type="module" src="./login.ts"></script>
 <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
  </link>
</html>
