#viewport
{
/* width: 500px; */
/* height: 500px; */
border: 1px solid #000;
position: relative;
}

.ball{
    /* background-color: #000; */
    position: absolute;
    border-radius: 50%;

}