 .header__schedule_section
 {
    margin-top:50px;
    // padding-bottom: 20px;
    &_vaccination
    {
        display: flex;
        gap: 10px;
        justify-content: start;
        align-items: center;

        &_figure
        {
            margin: 0px;

            &_clock
            {

                @media screen and (min-width:$tablet-breakpoint)
                {
                    width: 30px;
                    
                }
            }
        }
        &_title
        {
            
            color: $white;
            font-size:$mobile-font-size ;
            font-weight: $bold-text-font-weight;

            @media screen and (min-width:$tablet-breakpoint)
            {
                font-size: $tablet-font-size;
            }
            @media screen and (min-width:$tablet-breakpoint)
            {
                font-size: $desktop-font-size;
            }
        }

        @media screen and (min-width:$tablet-breakpoint) 
        {
            gap: 20px;
        }
        @media screen and (min-width:$desktop-breakpoint) 
        {
            gap: 30px;
        }

    }

    &_card
    {
        @include cursor;
        background: #ffffff0d;
        backdrop-filter: blur(10px);        
        padding: 15px 0px 15px 15px;
        margin-top: 40px;
        border-radius: $border-radius;
        display: flex;
        flex-direction: column;
        box-shadow: -4px -4px 5px 4px rgba(255, 255, 255, 0.1);


        &_panel
        {
            display: flex;
            justify-content: start;
            gap: 10px;
            align-items: center;

            &_figure
            {
                margin: 3px;
                &_icon
                {
                    width: 20px;
                    padding: 4px;
                    background-color: #ffffff1a;;
                    border-radius: 50%;
                @media screen and (min-width:$tablet-breakpoint) 
                {
                    width: 40px;
                    padding: 6px;
                }
                @media screen and (min-width:$desktop-breakpoint) 
                {
                    width: 60px;
                    padding: 5pxpx;
                }
                }
            }
            
            &_detail
            {

                &_topic
                {
                    
                }
                &_desc
                {
                    color: $white;
                    font-weight: $bold-text-font-weight;
                }
                @media screen and (min-width:$tablet-breakpoint)
                {
                    font-size: $tablet-font-size;    
                }
                @media screen and (min-width:$desktop-breakpoint)
                {
                    font-size: 20px;    
                }

            }

            @media screen and (min-width:$tablet-breakpoint)
            {
                flex-basis: 40%;  
                gap: 10px;
                
            }
            @media screen and (min-width:$desktop-breakpoint)
            {
               flex-basis: 20%;
                padding:0px 1px;
                gap: 10px;
                
            }


        }

       
       &_bcontainer
       {
        @include cursor;   
        align-self: center;
        &_button
        {

            background-color:  $primary-clr;
            width: 135px;
            padding: $button-padding;
            border-radius: 10px;
            margin-top: 20px;
            color: white;
            font-size: $mobile-font-size;
            font-weight: $button-font-weight;

            &:hover
            {
                @include white-background-on-hover;
            }

            @media screen and (min-width:$tablet-breakpoint)
            {
                width: 192px;     
            }
            @media screen and (min-width:$tablet-breakpoint)
            {
               width: 200px;
               font-size: 16px;
               align-self: center;
            }
        }
        @media screen and (min-width:$tablet-breakpoint)
         {
                flex-basis: 40%;
                
        }
        @media screen and (min-width:$desktop-breakpoint)
        {
            flex-basis:20% ;  
              
        }
       }
       
       
        
       
        

        @media screen and (min-width:$tablet-breakpoint)
        {
            display: flex;
            flex-direction: row; 
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            width: 90%;
            margin:40px  auto 0px;
        }
        @media screen and (min-width:$desktop-breakpoint)
        {
            width: 100%;
            justify-content: space-around;

        }

    }

    @media screen and (min-width:$tablet-breakpoint)
     {
        
    }
    @media screen and (min-width:$tablet-breakpoint) 
    {
       
    }
 }