.partners
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__figure
    {
        max-width: 25%;
        margin: 10px 5px;
        padding: 0px;

        &_image
        {
           max-width: 100%;
           height: 20px;
            @media screen and (min-width:$tablet) 
                {
                    height: 25px;
                }
            @media screen and (min-width:$tablet) 
                {
                    height: 40px;
                }
            
            }
    }
    @media screen and (min-width: $desktop) 
    {
           background-color: #7f7f7f;
           justify-content: space-around;
    }





    
}