.main__prevention_wrapper
{
    background-image: url(./assets/desktop_header_bg.png);
    background-position: center;
    background-size: cover;


    .main__prevention
    {

        padding: 10px;
        padding-bottom: 0;

        &_prevHeading
        {
            text-align: center;
            font-size: 12px;
            color: $white;
            font-weight: $heading-font-weight;
            margin-top: 25px;

            @media screen and (min-width:$tablet) 
            {
                font-size: $tablet-font-size;
                margin-top: 40px;
            }
            
            @media screen and (min-width:$desktop)
             {
                font-size: $desktop-font-size;
             }

        }

        &_symptomsHeading
        {   
            font-size: $mobile-heading-font-size;
            font-weight: $heading-font-weight;
            margin-top: 20px;
            color: $white;
            text-align: center;

            span 
            {
                color: $primary-clr;
            }


            @media screen and (min-width:$tablet) 
            {
                font-size: $tablet-heading-font-size;
                margin-top: 25px;
            }
            
            @media screen and (min-width:$desktop)
             {
                font-size: $desktop-heading-font-size;
                margin-top: 30px;
             }

        }

        &_description
        {
            text-align: center;
            font-size: 12px;


            @media screen and (min-width:$tablet) 
            {
                font-size: 14px;
            }
            
            @media screen and (min-width:$desktop) 
            {
                font-size: 16px;
                max-width: 70%;
                margin: auto;

            }

        }

        &_figure
        {
            width: 100%;
            margin: 0;
            padding: 0;
            margin-top: 30px;

            &_image
            {
                width: 100%;
                border-radius: 20px;
                @media screen and (min-width:$tablet) {}
                
                @media screen and (min-width:$desktop) {}
            }
            @media screen and (min-width:$tablet) {}
            
            @media screen and (min-width:$desktop) {}

        }

        @media screen and (min-width:$tablet) {}
        
        @media screen and (min-width:$desktop) {}

    }


    @media screen and (min-width:$tablet) {}
    
    @media screen and (min-width:$desktop) {}
    

}