
.main__register
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    text-align: center;
    margin-bottom: 40px;

    &_form
    {

         &_heading 
         
         {
            font-size: $mobile-heading-font-size;
            font-weight: $heading-font-weight;
            color: $black;
            max-width: 90%;
            margin: 0px auto;

            
            
            @media screen and (min-width:$tablet) 
            {
                font-size: $tablet-heading-font-size;
                text-align: start;
            }
            
            @media screen and (min-width:$desktop) 
            {
                font-size: $desktop-heading-font-size;
                max-width: 100%;
            }
         }

         &_figure
         {
            width: 100%;
            margin: 40px auto;
            
            &_image
            {
                width: 100%;
               
                
                @media screen and (min-width:$desktop)
                 {
                    display: none;
                 }
            }

            @media screen and (min-width:$tablet) 
            {
                width: 50%;
                margin: 40px 10px ;
            }
            
            @media screen and (min-width:$desktop) 
            {
                display: none;
            }
         }

         &_label
         {
            color: $black;
            font-size: $mobile-font-size;
            font-weight: $heading-font-weight;
            display: flex;
            justify-content: start;
            margin-top: 20px;



            @media screen and (min-width:$tablet) 
            {
                margin-top: 70px;
                font-size: $tablet-font-size;
            }
            
            @media screen and (min-width:$desktop) 
            {
                margin-top: 40px;
                font-size: $desktop-font-size;
            }
         }

         &_inputName
         {
            border-radius: 10px;
            background: rgba(11, 21, 60, 0.15);
            font-size: $mobile-font-size;
            padding: 16px 20px 16px 20px;
            margin-top: 20px;
            outline: none;
            display: block;
            width: 100%;
            border: none;


            @media screen and (min-width:$tablet)
             {
                width: 100%;
                font-size: $tablet-font-size;

             }
            
            @media screen and (min-width:$desktop) 
            {
                font-size: $desktop-font-size;
            }
         }

         &_text
         {
            font-size: 12px;
            text-align: start;
            margin-top: 20px;


            @media screen and (min-width:$tablet) 
            {
                font-size: 14px;
            }
            
            @media screen and (min-width:$desktop)
             {
                font-size: 16px;
             }
         }

         &_mobile
         {
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            &_input
            {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
                border-radius: 10px;
                background: rgba(11, 21, 60, 0.15);
                padding: 6px;
                
              

                &_country
                {

                    display: flex;
                    margin: 0px;
                    padding: 0px;
                    border-right: 1px solid $text-clr;
                    border-radius: 5px;
                    


                    @media screen and (min-width:$tablet) {}
                    
                    @media screen and (min-width:$desktop) {}
                }

                &_mobile
                {
                    align-self: stretch;
                    background: rgba(11, 21, 60, 0.05);
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    font-size: $mobile-font-size;
                    padding: 6px;


                    @media screen and (min-width:$tablet) {
                    padding: 10px;
                    font-size: $tablet-font-size;
                    }
                    
                    @media screen and (min-width:$desktop) 
                    {
                    font-size: $desktop-font-size;
                    }
                }

                @media screen and (min-width:$tablet)
                {
                   padding: 10px;
                   
                }
                
                @media screen and (min-width:$desktop) 
                {

                }
                     }


            &_button
            {
                background-color: $primary-clr;
                color: $white;
                font-size: $mobile-font-size;
                font-weight: $heading-font-weight;
                width: 150px;
                padding: $button-padding;
                border-radius: 10px;
                // margin-top: 10px;

                &:hover
                {
                    background-color:  rgba(11, 21, 60, 0.1);
                    color: $primary-clr;
                    transition:$transition;

                    
                }

                @media screen and (min-width:$tablet) 
                {
                    font-size: $tablet-font-size;
                    font-size: 20px;
                    width: 225px;
                    

                }
                
                @media screen and (min-width:$desktop) 
                {
                    font-size: $desktop-font-size; 
                    width: 215px;
                }
            }

            @media screen and (min-width:$tablet) 
            {
                flex-direction: row;
                gap: 90px;
                justify-content: space-around;
                margin-top: 25px;
                
            }
        
            @media screen and (min-width:$desktop) {}

        }

         &_submit_button
         {
            width: 100%;
            margin-top: 40px;
            background-color: $primary-clr;
            color: white;
            font-weight: $bold-text-font-weight;
            padding: $button-padding;
            border-radius: 10px;
            font-size: $mobile-font-size;

            &:hover
            {
                background-color: rgba(11, 21, 60, 0.1);
                color: $primary-clr;
                transition: $transition;
            }


            @media screen and (min-width:$tablet) 
            {
                    font-size: $tablet-font-size; 
            }
            
            @media screen and (min-width:$desktop) 
            {
                    font-size: $desktop-font-size;
            }
         }

         &_footer
         {
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            margin-top: 20px;
            cursor: pointer;

            &_isRegistered
            {
                &:hover
                {
                    color: $primary-clr;   
                    transition: $transition;    
                }
            }

            &_status
            {
                color: $primary-clr;

            }

            @media screen and (min-width:$tablet)
             {
                justify-content: center;
                gap: 5%;
                font-size: 14px;
                margin-top: 25px;
             }
            
            @media screen and (min-width:$desktop) 
            {
                font-size: 16px;
            }
         }




        @media screen and (min-width:$tablet)
        {
            
            width: 100%;
        }
        
        @media screen and (min-width:$desktop) 
        {
            max-width:50%;
        }
    }


    &_figure
    {
        display: none;

        @media screen and (min-width:$tablet) {}
        
        @media screen and (min-width:$desktop) {
            display: block;
            flex-basis: 40%;
        }
    }


}