.container
{
    padding: 0px 35px;
    @media screen and (min-width:$tablet-breakpoint) {
            width: 90%;
            margin: 0px auto;
    }
    @media screen and (min-width: $desktop-breakpoint) {
        width: 90%;
        margin: 0px auto;
    }
}