.main__background_img
{
    background-image: url('./assets/desktop_header_bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    .main__checkCovid
    {
        padding:55px 20px;
        
        &_section
        {
                background: rgba(255, 255, 255, 0.0509803922);
                backdrop-filter: blur(10px);
                border-radius: $border-radius;
                padding: 20px;



            &_heading
            {
                color: $white;
                font-size: 10px;
                font-weight: $bold-text-font-weight;
                
            @media screen and (min-width:$tablet) 
            {
                font-size: $tablet-font-size;
            }
            
            @media screen and (min-width:$desktop) 
            {
                font-size: $desktop-font-size;
                text-align: center;
            }

            }

            &_form
            {
                margin-top: 22px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 45px;

                &_input
                {
                    background-color: transparent;
                    border: 2px solid $text-clr;
                    outline: none;
                    padding: 16px;
                    border-radius: 10px;
                    color: white;
                    font-size: 12px;
                    

                    &:focus
                    {
                        border: 2px solid $primary-clr;
                    }

                    &:nth-child(2)
                    {
                        margin-top: 10px;
                        @media screen and (min-width:$desktop)
                        {
                            margin-top: 0;
                        }
                    }

                    @media screen and (min-width:$tablet) 
                    {
                        font-size: $tablet-font-size;
                    }
                    
                    @media screen and (min-width:$desktop) 
                    {
                        font-size: $desktop-font-size;
                        flex-basis: 30%;
                        
                    }

                }
                &_button
                {
                    border-radius: 10px;
                    border: 3px solid $primary-clr;
                    background: rgba(196, 196, 196, 0.10);
                    color:$primary-clr;
                    width: 150px;
                    margin-top: 15px;
                    font-weight: $bold-text-font-weight;
                    font-size: $mobile-font-size;

                    &:hover
                    {
                        background-color: $primary-clr;color: $white;

                    }

                    @media screen and (min-width:$tablet)
                     {
                        margin-top: 20px;
                        width: 170px ;
                     }
                    
                    @media screen and (min-width:$desktop) 
                    {
                        width: 80%;
                       margin-top: 0;
                       flex-basis: 20%; 
                    
                        padding: 20px;
                        font-size: 18px;
                        letter-spacing:2px;
                    
                       
                    }
                }
                @media screen and (min-width:$tablet) 
                {
                    
                }
                
                @media screen and (min-width:$desktop)
                {
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 80%;
                    margin:  75px auto;
                   
                    

                }

            }

            &_needCertificate
            {
                color: $primary-clr;
                padding: 10px;
                width: 90%;
                margin: auto;
                border: none;
                background: rgba(196, 196, 196, 0.05);
                border-radius: 10px;
                font-weight: $bold-text-font-weight;
                font-size: 9px;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 5px;
                cursor: pointer;

                &:hover
                {
                   color: $white;
                }

                span
                {
                    text-align: center;

                    a
                    {
                        color: $primary-clr;
                        font-size: 9px;
                        text-decoration: underline;

                      

                        @media screen and (min-width:$tablet)
                        {
                            font-size: 12px;    
                        }
                        @media screen and (min-width:$desktop)
                        {
                            font-size: 16px;    
                        }
                    }
                   
                }

             

                @media screen and (min-width:$tablet)
                {
                    font-size: 12px;
                    padding: 12px;
                    // flex-direction: row; 
                    justify-content: center;
                    margin: auto;
                }      
                @media screen and (min-width:$desktop)
                {
                    font-size: 16px;
                    padding: 16px;
                }      

            }
        }

                @media screen and (min-width:$tablet) 
                {
                    width: 85%;
                    margin: auto;
                }
        


    }
}