.card {
  display: flex;
  justify-content: space-around; // Adjust as needed

  @media screen and (max-width: $small) {
    flex-direction: column;
    align-items: center; // Center horizontally
  }

  .card1, .card2, .card3 {
    width: 448px;
    height: 360px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0px 24px 64px -12px rgba(26, 24, 65, 0.06);
    border: 1px solid rgba(29, 28, 49, 0.1);
    background: #fff;

    figure {
      text-align: center;
    }

    &__content {
      text-align: center;

      &__head {
        color: var(--Text, #1d1c31);
        font-family: Plus Jakarta Sans;
        font-size: 20px;
        font-weight: 700;

        &__para {
          color: rgba(29, 28, 49, 0.6);
          font-family: Plus Jakarta Sans;
          font-size: 16px;
          font-weight: 400;
        }
      }

      &--button {
        // position: absolute;
        bottom: 0;
        right: 0;
        color: var(--5-d-55-ff, #5d55ff);
      }
    }
  }
}
