.footer {
  display: flex;
  flex-direction: column;
  background-color: #EFEEFF;
  // padding-top: 100px;
  flex-basis: 100%;
  @media screen and (max-width:$small) {
    padding-top: 50px;
    padding-left: 20px;
  
  }
  &__head {
    display: flex;
    justify-content: flex-start;
    gap: 250px;
    padding-bottom: 40px;
   
    @media screen and (max-width:$small) {
      flex-direction: column;
      gap: 0;
     
      

    }
  }
  &__foot {
    display: flex;
    border-top: 1px solid $white-shadow-color;
    justify-content: space-between;
    align-items: center;
    //   font-size: $small-font-size;
     @media screen and (max-width:$small) {
    flex-direction: column-reverse;
    flex:flex-start;
     }
   
  }
  &__extras {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    padding-top: 30px;
    &--title {
      color: $black;
      font-weight: $heading-font-weight;
      font-size: $card-title-font-size;

    }
  }
  &__subscription {
    max-width: 500px;
    border-radius: 8px;
    padding: 32px;
    background-color: $black;
    color: $white;
     @media screen and (max-width:$small) {
      background-color: white;
      color: black;
      
     }
  
   
    &--title {
      font-size: $card-title-font-size;
      font-weight: $heading-font-weight;
    }
    &--desc {
      font-size: 14px;
      color: $white-shadow-color;
      margin-bottom: 40px;
    }
    &--form {
      display: flex;
      justify-content: flex-start;
      gap: 33px;
      //  @media screen and (max-width:$small) {
        
      //  }
   
      &-input {
        background: transparent;
        border: none;
        border-bottom: 1px solid $white;
        color: $white;
        //flex-basis: 65%;
        font-weight: $heading-font-weight;
  
      }
    }
  }
  &__logos {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    

  }
}